@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.App {
  background-color: #e7cbcb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App p {
  font-size: 50px;
  font-family: 'Quicksand', sans-serif;
  color: #643843;
}

.app-buttons {
  display: flex;
  gap: 16px;
}

.app-buttons button {
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  border-radius: 50%;
  border: 1px solid transparent;
  width: 50px;
  height: 50px;
}

.cor1 {
  background-color: #c88ea7;
  color: #fff;
}
.cor2 {
  background-color: #643843;
  color: #fff;
}
.cor3 {
  background-color: #99627a;
  color: #fff;
}
